img {
  max-height: 100px;
  width: auto;
  margin: 40% 0;
}

.trim-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* number of lines to show */
}
